@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

//body, button, input, select, textarea {
//  font: 0.14px "微软雅黑", SimHei, verdana, sans-serif
//}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}
li {
  list-style: none
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
.m-flex-between{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.m-flex-start{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.m-flex-around{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}
.m-flex-center{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.m-flex-end{
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.m-grey{
  color: #B9B9B9;
  font-size: 12px;
}
//头部搜索部分
.m-search-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
  margin-bottom: 20px;
  .m-btn{
    display: inline-block;
    color: #fff;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    background-color: #2D3A4B;
    font-size: 16px;
  }
  .m-search-input{
    margin-right: 10px;
    width: 220px;
  }
  .m-select{
    margin-right: 10px;
  }

}
//按钮样式
.m-btn{
  padding: 0 30px;
  display: inline-block;
  background-color: #2D3A4B;
  color: #fff;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  &.m-search-btn{
    padding: 0 20px;
  }
  &.active{
    background-color: #2D3A4B;
  }
  &.active:hover{
    background-color: #2D3A4B;
  }
  &.cancel{
    background-color: #fff;
    color: #B8B8B8;
    border: 1px solid #B8B8B8;
    margin-left: 20px;
  }
}
.m-input-s{
  width: 226px;

  .el-input__inner{
    height: 35px;
  }
}
.el-input__inner{
  border-radius: 0;
  height: 35px;
}
.m-admin-input-box{
  .m-input-xs{
    display: inline-block;
  }
}
.m-input-xs{
  width: 200px;
  margin-right: 10px;
  .el-input__inner{

  }
}
.m-input-l{
  width: 800px;
  .el-input__inner{

  }
}
//标题
.m-title-box{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .m-title-btn-box{
    text-align: right;
  }
  .m-title-btn{
    display: inline-block;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
    border-radius: 23px;
    background-color: #EBE9E9;
    &.active{
      background-color: #FF7373;
      color: #fff;
      margin-right: 10px;
    }
  }
}
.el-table::before{
  height: 0;
}
  //表格按钮
.m-table-btn{
  display: inline-block;
  padding: 4px 28px;
  background-color: #F8F8F8;
  border-radius: 23px;
  cursor: pointer;
  &:first-child{
    margin-right: 10px;
  }
}
//分页
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #FF7373;
}

.el-input--small{
  width: 400px;
}
.m-input-num{
  width: 60%;
  margin: 0 20px;
}
.m-page-size{
  padding: 10px 0;
  cursor: pointer;
  &.active{
    color: #01abfd;
  }
}
//表单
.m-form-container{
  background-color: #fff;
  margin: 20px 0;
  padding: 50px 50px;
  box-shadow:0 3px 25px rgba(0,0,0,0.04);
  border-radius: 8px;
}
.m-form-btn{
  &.center{
    text-align: center;
  }
  &.m-outside{
    span{
      padding:8px 35px;
      margin-top: 20px;
    }
  }
  span{
    display: inline-block;
    padding:0 35px;
    border-radius: 23px;
    background-color: #EBE9E9;
    cursor: pointer;
    &.active{
      background-color: #FF7373;
      color: #fff;
      margin-right: 20px;
    }
  }
}
.m-cut-add-box{
  .svg-icon{
    margin-left: 10px;
    cursor: pointer;
  }
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #606266;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #FF7373;
  border-color: #FF7373;
}
.el-input--mini{
  display: inline-block;
  width: 20%;
}
.el-tabs--border-card{
  border-radius: 8px;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color: #9B9B9B;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  color: #666666;
  border: none;
}
.el-tabs--border-card>.el-tabs__header{
  border-bottom: none;
}

  .m-upload-btn{
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #BBBBBB;
  }

.m-upload-btn.is-active, .m-upload-btn:active{
  background-color: #F9F9F9;
  border-color: #F9F9F9;
  color: #BBBBBB;
}
.m-upload-btn:focus, .m-upload-btn:hover{
  background-color: #F9F9F9;
  border-color: #F9F9F9;
  color: #BBBBBB;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #666666;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: #FF7373;
  background: #FF7373;
}
.m-text-box{
  font-size: 14px;
  padding: 30px;
  background:rgba(247,248,255,1);
  border: 1px dashed #eee;
  border-radius:8px;
  margin: 20px 0;
  .m-row{
    margin-bottom: 20px;
  }
  .m-label{
    text-align: right;
    color: #AFAFAF;
  }
}

.m-table-box{
  font-size: 14px;
  padding: 30px;
  .m-row{
    margin-bottom: 20px;
  }
  .m-label{
    text-align: center;
    color: #AFAFAF;
  }
}
.el-card__body{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
.m-icon-div{
  &:first-child{
    margin-right: 47px;
  }
}
.m-category-content{
  width: 720px;
  height: 100%;
  overflow: hidden;
  .m-scroll{
    margin-left: 0;
    -webkit-transition: margin-left 0.28s;
    transition: margin-left 0.28s;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
  }
  .m-one-category{
    width: 405px;
    height: 90%;
    border: 1px solid #889AA4;
    background-color: #fff;
    text-align: center;
    padding: 0 8px 0;
    margin-right: 10px;
    .m-edit{
      color: #42B983;
      cursor: pointer;
      &.m-delete{
        color: #E20421;
      }
    }
    .m-search-box{
      width: 180px;
      height: 27px;
      line-height: 27px;
      font-size: 12px;
      border: 1px solid #97ADCB;
      position: relative;
      border-radius: 5px;
      .icon-search{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 5px;
        left: 10px;
        //background: url("../../common/images/icon-search.png");
        background-size: 100% 100%;
      }
      input{
        border: none;
        height: 27px;
        width: 140px;
        padding-left: 40px;
        &:focus{
          border: none;
          outline-offset: 0;
          outline-color:transparent;
        }
      }
    }
    .m-add-box{
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      margin: 10px 0;
      .svg-icon{
        width: 12px;
        height: 12px;
      }
      .m-btn{
        padding: 0 10px ;
        font-size:12px;
        height: 24px;
        line-height: 24px;
      }
    }
    .m-classify{
      height: 265px;
      margin-top: 0.1rem;
      overflow-y: scroll;
      ul{
        li{
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px 10px;
          color: #666666;
          cursor: pointer;
          .m-category-name{
            display: inline-block;
            width: 160px;text-align: left;
            //height: 28px;0
            //line-height: 28px
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.active{
            color: #97ADCB;
          }
          span.m-edit-box{
            display: block;
            line-height: 20px;
          }
        }
      }
    }
  }
}
/*滚动条样式*/
.m-classify::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}
.m-classify::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #889AA4;
  background: #889AA4;
}
.m-classify::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #889AA4;
  border-radius: 10px;
  background:#889AA4;
}

.m-questionnaireDetail{
   .el-radio__input.is-disabled.is-checked .el-radio__inner{
    background-color: #BACB97;
    border-color: #BACB97;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after{
    background-color: #fff;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background-color: #BACB97;
    border-color: #BACB97;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color: #fff;
  }
}
.m-table-img{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.m-alert-text{
  color: #999999;
  font-size: 12px;
}
